/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/components/Footer/footer.module.sass ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Manrope";
  font-weight: 200;
  src: url("/fonts/manrope/static/Manrope-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 300;
  src: url("/fonts/manrope/static/Manrope-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url("/fonts/manrope/static/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: url("/fonts/manrope/static/Manrope-Bold.ttf") format("truetype");
}
.footer_main__4wz5k {
  background-color: #252F3D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.4rem 12.7rem;
  font-size: 1.6rem;
  color: #FFF;
}
@media (max-width: 768px) {
  .footer_main__4wz5k {
    flex-direction: column;
    font-size: 1.2rem;
    padding: 2rem;
    gap: 1.6rem;
    align-items: center;
  }
}
.footer_main__4wz5k div {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/components/HeaderSection/headerSection.module.sass ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Manrope";
  font-weight: 200;
  src: url("/fonts/manrope/static/Manrope-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 300;
  src: url("/fonts/manrope/static/Manrope-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url("/fonts/manrope/static/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: url("/fonts/manrope/static/Manrope-Bold.ttf") format("truetype");
}
.headerSection_section__CI7T_ {
  text-align: center;
  padding: 30px 127px;
}
@media (max-width: 768px) {
  .headerSection_section__CI7T_ {
    padding: 30px 22px;
  }
}
.headerSection_section__CI7T_ ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .headerSection_section__CI7T_ li {
    padding-bottom: 50px;
  }
}
.headerSection_section__CI7T_ li:first-child img {
  width: 192px;
}
@media (max-width: 768px) {
  .headerSection_section__CI7T_ li:first-child img {
    width: 100px;
  }
}
.headerSection_section__CI7T_ li:last-child {
  display: flex;
  gap: 32px;
}
.headerSection_section__CI7T_ li:last-child img {
  width: 88px;
}
@media (max-width: 768px) {
  .headerSection_section__CI7T_ li:last-child img {
    width: 44px;
  }
}
.headerSection_section__CI7T_ p {
  font-size: 2.4rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .headerSection_section__CI7T_ p {
    font-size: 1.6rem;
  }
}
.headerSection_section__CI7T_ h1 {
  font-size: 4.8rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .headerSection_section__CI7T_ h1 {
    font-size: 3.2rem;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/components/MainSection/mainSection.module.sass ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Manrope";
  font-weight: 200;
  src: url("/fonts/manrope/static/Manrope-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 300;
  src: url("/fonts/manrope/static/Manrope-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url("/fonts/manrope/static/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: url("/fonts/manrope/static/Manrope-Bold.ttf") format("truetype");
}
.mainSection_section__KdNi2 {
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
  padding: 4rem;
  border-radius: 1rem;
  width: 80%;
  margin: 4rem auto 6.1rem auto;
  gap: 4rem;
}
@media (max-width: 768px) {
  .mainSection_section__KdNi2 {
    display: grid;
    grid-template-areas: "productSection" "productInfo";
    width: 100%;
    padding: 2rem;
    margin: 4rem 0 6.1rem 0;
  }
}
.mainSection_section__KdNi2 > div {
  height: 100%;
  width: 50%;
}
.mainSection_section__KdNi2 > div > img {
  width: 100%;
}
@media (max-width: 768px) {
  .mainSection_section__KdNi2 > div {
    width: auto;
    height: auto;
  }
  .mainSection_section__KdNi2 > div:first-of-type {
    display: none;
  }
  .mainSection_section__KdNi2 > div > img {
    width: 320px;
  }
}

.mainSection_article__PtBP0 {
  margin: 2.4rem 0;
  padding: 2.4rem;
  width: 100%;
  background-color: #FFF;
}
.mainSection_article__PtBP0 header {
  margin-bottom: 1.8rem;
}
.mainSection_article__PtBP0 header > div {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}
.mainSection_article__PtBP0 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.mainSection_article__PtBP0 li {
  display: flex;
  align-content: center;
  gap: 0.5rem;
}
.mainSection_article__PtBP0 li:first-child {
  font-size: 1.4rem;
}
.mainSection_article__PtBP0 li:last-child {
  font-size: 1.2rem;
  color: #5BB59A;
}
.mainSection_article__PtBP0 p {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .mainSection_productSection__9wEnD {
    grid-area: productSection;
  }
}
.mainSection_productSection__9wEnD > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.6rem;
  color: #4D5254;
}
.mainSection_productSection__9wEnD > ul li {
  display: flex;
  align-items: center;
}
.mainSection_productSection__9wEnD > ul li span:last-of-type {
  margin: 0.5rem;
  font-weight: 700;
}
.mainSection_productSection__9wEnD > ul li span:first-of-type {
  margin-right: 1.2rem;
}
.mainSection_productSection__9wEnD h1 {
  font-size: 3.2rem;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD h1 {
    font-size: 2.4rem;
    text-align: center;
  }
}
.mainSection_productSection__9wEnD h1 span {
  color: #2C7EF8;
}
.mainSection_productSection__9wEnD h1 span:first-child {
  text-transform: uppercase;
}
.mainSection_productSection__9wEnD > div:first-of-type {
  display: inline-flex;
  flex-direction: row;
  font-size: 1.6rem;
  margin: 3.2rem 0;
  gap: 1rem;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:first-of-type {
    font-size: 1.2rem;
  }
}
.mainSection_productSection__9wEnD > div:first-of-type > div {
  background-color: #2C7EF8;
  border-radius: 1rem;
  width: 13.4rem;
  height: 13.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-basis: content;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:first-of-type > div {
    width: 8rem;
    height: 8rem;
  }
}
.mainSection_productSection__9wEnD > div:first-of-type > div img {
  width: 100%;
  height: 100%;
}
.mainSection_productSection__9wEnD > div:first-of-type h2 {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:first-of-type h2 {
    font-size: 1.4rem;
  }
}
.mainSection_productSection__9wEnD > div:first-of-type section {
  display: inline-block;
  width: 100%;
}
.mainSection_productSection__9wEnD > div:first-of-type section ul {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainSection_productSection__9wEnD > div:first-of-type section ul li {
  font-size: 2.2rem;
  color: #2C7EF8;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:first-of-type section ul li {
    font-size: 1.4rem;
  }
}
.mainSection_productSection__9wEnD > div:first-of-type section ul li > span {
  color: #969696;
  font-size: 1.6rem;
  text-decoration: line-through;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:first-of-type section ul li > span {
    font-size: 1rem;
  }
}
.mainSection_productSection__9wEnD > div:first-of-type section > p {
  color: #4D5254;
}
.mainSection_productSection__9wEnD > div:first-of-type section > p:first-of-type {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.mainSection_productSection__9wEnD > div:first-of-type section > p:first-of-type span {
  content: ".";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #2C7EF8;
  border-radius: 100%;
}
.mainSection_productSection__9wEnD > div:nth-of-type(2) {
  background-color: #EDF3FD;
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 3.2rem 0;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:nth-of-type(2) > p {
    font-size: 1.4rem;
  }
}
.mainSection_productSection__9wEnD > div:nth-of-type(2) span:first-of-type {
  background-color: #2C7EF8;
  color: white;
  display: inline-flex;
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  margin-right: 1rem;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:nth-of-type(2) span:first-of-type {
    font-size: 1.2rem;
  }
}
.mainSection_productSection__9wEnD > div:nth-of-type(2) span:not(:first-of-type) {
  color: #2C7EF8;
  background: none;
}
.mainSection_productSection__9wEnD > div:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  padding: 0.8rem 1.6rem;
  border: 1px solid #cfcfcf;
  border-radius: 0.4rem;
  margin: 1.2rem 0 2rem 0;
  color: #4D5254;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:nth-of-type(3) {
    display: grid;
    grid-template-areas: "freeShipping vertical secure" "horizontal horizontal horizontal" "cards cards cards";
  }
}
.mainSection_productSection__9wEnD > div:nth-of-type(3) hr {
  border: 1px solid #cfcfcf;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:nth-of-type(3) hr:first-of-type {
    grid-area: vertical;
    border: none;
    border-left: 1px solid #cfcfcf;
  }
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:nth-of-type(3) hr:last-of-type {
    border-top: 1px solid #cfcfcf;
    grid-area: horizontal;
  }
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:nth-of-type(3) p:first-of-type {
    grid-area: freeShipping;
  }
}
.mainSection_productSection__9wEnD > div:nth-of-type(3) p:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:nth-of-type(3) p:nth-of-type(2) {
    grid-area: secure;
  }
}
.mainSection_productSection__9wEnD > div:nth-of-type(3) ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:nth-of-type(3) ul {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .mainSection_productSection__9wEnD > div:nth-of-type(3) div:last-of-type {
    grid-area: cards;
  }
}
.mainSection_productSection__9wEnD > div:nth-of-type(4) {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  font-size: 1.6rem;
  color: #4D5254;
  margin-top: 3.2rem;
  align-items: center;
}
.mainSection_productSection__9wEnD > a {
  display: block;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.8rem;
  color: #F82C2C;
  text-align: center;
  margin: auto;
}

.mainSection_discountButton__3Qogw {
  padding: 1.6rem 6.4rem;
  background-color: #59Ae43;
  color: white;
  border: none;
  border-radius: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  width: 100%;
}
@media (max-width: 768px) {
  .mainSection_discountButton__3Qogw {
    font-size: 1.4rem;
  }
}
.mainSection_discountButton__3Qogw:hover {
  cursor: pointer;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/components/Steps/steps.module.sass ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Manrope";
  font-weight: 200;
  src: url("/fonts/manrope/static/Manrope-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 300;
  src: url("/fonts/manrope/static/Manrope-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url("/fonts/manrope/static/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: url("/fonts/manrope/static/Manrope-Bold.ttf") format("truetype");
}
.steps_ul__hDbD5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .steps_ul__hDbD5 {
    font-size: 1.2rem;
  }
}
.steps_ul__hDbD5 li div {
  display: inline;
}
@media (max-width: 768px) {
  .steps_ul__hDbD5 li div {
    display: none;
  }
}

.steps_checked__Aj84a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  .steps_checked__Aj84a {
    flex-direction: column;
    gap: 0.8rem;
  }
  .steps_checked__Aj84a img {
    width: 0.8rem;
  }
}
.steps_checked__Aj84a span {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
@media (max-width: 768px) {
  .steps_checked__Aj84a span {
    width: 20px;
    height: 20px;
  }
}
.steps_checked__Aj84a span {
  background-color: green;
}

.steps_active__ir8u1 {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  .steps_active__ir8u1 {
    flex-direction: column;
    gap: 0.8rem;
  }
  .steps_active__ir8u1 img {
    width: 0.8rem;
  }
}
.steps_active__ir8u1 span {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
@media (max-width: 768px) {
  .steps_active__ir8u1 span {
    width: 20px;
    height: 20px;
  }
}
.steps_active__ir8u1 span {
  font-weight: normal;
  background-color: #2C7EF8;
  color: white;
}

.steps_next__E7efk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  .steps_next__E7efk {
    flex-direction: column;
    gap: 0.8rem;
  }
  .steps_next__E7efk img {
    width: 0.8rem;
  }
}
.steps_next__E7efk span {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
@media (max-width: 768px) {
  .steps_next__E7efk span {
    width: 20px;
    height: 20px;
  }
}
.steps_next__E7efk span {
  background-color: white;
  color: #2C7EF8;
  border: 2px solid #2C7EF8;
}
